
header{
    width: 80%;
    margin-left: 250px;

}

nav{
    text-align: right;
    padding: 30PX 50PX 0 0;

}

nav > A {
    color: rgb(139, 30, 222);
    font-weight: 500;
    text-decoration: none;
    margin-right: 10PX;
}

nav > A:hover {
    text-decoration: overline;
    
}
/*/ paquetes/*/

body{
    text-align: center;
    background-color: rgb(255, 255, 255);

}

img{
    max-width: 400px;
    max-height: 150px;
    margin-top: 10px;
    
}

.paqueS{
    display: inline-block;
    max-width: 300px;
    max-height: 150px;
    margin-top: 20px;
}
.container{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.container img{
    margin-right: 1100px;
}

span{
    font-size: 2em;
    font-weight: bold;
}

.metodpag{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.metodpag > *{
    flex: 1 1;
}

.paqueS{
    background: #acc5ef;
    text-align: center;
    cursor: pointer;
    min-height: 300px;
    min-width: 200px;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all 0.3s ease-out;
    border-radius: 15px;
}

.paqueS:hover{
    transform: scale(1.1);
}

.paqueS figcaption{
    padding: 1em;
}



/*/pie de pagina/*/

.PIE_PAGINA{
    width: 100%;
    padding: 15PX;
    background-color: hwb(205 20% 15% / 0.556)

}

.PIE_PAGINA .GRUP_1{
    width: 100%;
    max-width: 1200PX;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1FR);
    GRID-GAP: 50PX;
    padding: 15PX 0PX;
}

.PIE_PAGINA .GRUP_1 .BOX FIGURE{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: CENTER;
    align-items: center;
}

.PIE_PAGINA .GRUP_1 .BOX FIGURE IMG{
    width: 100PX;
}

.PIE_PAGINA .GRUP_1 H2{
    color: #FFF;
    margin-bottom: 25PX;
    font-size: 20PX;
}

.PIE_PAGINA .GRUP_1 P{
    color: #FFF;
    margin-bottom: 10PX;
}

.PIE_PAGINA .GRUP_1 .REDSOCIAL a{
    display: flex;
    flex-direction: WRAP;
    MAX-width: 50px;
    height: 50px;
    padding-left: 10px;
    padding-bottom: 20PX;

}

.PIE_PAGINA .GRUP_2{
    background-color: rgba(18, 42, 197, 0.288);
    padding: 15PX 10PX;
    text-align: center;
    color: rgba(255, 255, 255, 0.47);
}