*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 700PX;
    background:linear-gradient(120deg, #79b6fc77 0%, #9d96e6c1 100%);background-image: linear-gradient(120deg, #9179fc5b 0%, #9697e663 100%), url(../imagenes/LOGO_HS\ -\ copia.png);
    background-size: COVER;
    background-attachment: fixed;
    position: relative;
}

body .h1{
    margin-bottom: 5px;
}

body{
    width: 100%;
    height: 100vh;
    margin-top: 200px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.p_empresas_g{
    width: 100%;
    display: flex;
    max-width: 1100px;
}
.p_empresas_p{
    width: 100%;
    display: flex;
    max-width: 1100px;
}

.p_usuarios{
    width: 100%;
    display: flex;
    max-width: 1100px;
}
.card{
    width: 100%;
    margin: 20px;
    border-radius: 60px;
    overflow: hidden;
    background:white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 2) ;
    cursor: default;
    transition: all 400ms ease;
}

.card:hover{
    box-shadow:5px 5px 20px rgba(0, 0, 0, 4) ;
    transform: translatey(-3%);

}

.card img{
    width: 100%;
    height: 210px;
}

.card .p_empresas_g{
    padding: 15px;
    text-align: center;
}
.card .p_empresas_p{
    padding: 15px;
    text-align: center;
}
.card .p_usuarios{
    padding: 15px;
    text-align: center;
}

.p_empresas_g .btn_paque{
    align-items: center;
}

.btn_paque{
    display: block; 
    border-radius: 6px;
    padding: 0.5rem 1rem;
    width: 200px;
    margin: 0 auto;
   font-family: 'Times New Roman', Times, serif;
    background: #2f59e1;

}

/*/pie de pagina/*/

.PIE_PAGINA{
    width: 100%;
    padding: 30PX;
    background-color: hwb(205 11% 35% / 0.556)

}

.PIE_PAGINA .GRUP_1{
    width: 100%;
    max-width: 1200PX;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1FR);
    GRID-GAP: 50PX;
    padding: 15PX 0PX;
}

.PIE_PAGINA .GRUP_1 .BOX FIGURE{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: CENTER;
    align-items: center;
}

.PIE_PAGINA .GRUP_1 .BOX FIGURE IMG{
    width: 100PX;
}

.PIE_PAGINA .GRUP_1 H2{
    color: #FFF;
    margin-bottom: 25PX;
    font-size: 20PX;
}

.PIE_PAGINA .GRUP_1 P{
    color: #FFF;
    margin-bottom: 10PX;
}

.PIE_PAGINA .GRUP_1 .REDSOCIAL a{
    display: flex;
    flex-direction: WRAP;
    MAX-width: 50px;
    height: 50px;
    padding-left: 10px;
    padding-bottom: 20PX;

}

.PIE_PAGINA .GRUP_2{
    background-color: rgba(18, 42, 197, 0.288);
    padding: 15PX 10PX;
    text-align: center;
    color: rgba(255, 255, 255, 0.47);
}